asgiref==3.8.1
Django==5.2
sqlparse==0.5.3
tzdata==2025.2
django-widget-tweaks==1.5.0
Pillow==10.2.0
python-dotenv==1.0.1
stripe==7.10.0  # For payment processing
django-crispy-forms==2.1
crispy-bootstrap5==2023.10
#commet